.box_progress {
    background:url(/images/upload_jt.gif) 50% 50% no-repeat
}

#popupTransparentBG {
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    z-index:1000;
}
.popup_transparent_bg {
    background:rgba(0,0,0,0.30);
    background:transparent url('/images/layer_bg_lite.png') repeat scroll 0 0;

}

.popup_transparent_bg_dark {
    background:rgba(0,0,0,0.70);
    background:transparent url('/images/layer_bg_black.png') repeat scroll 0 0;
}

.box_frame {
    left:50%;
    position:absolute
}

.popup_box_container {
    position:absolute;
    left:50%;
    z-index:1002;
    padding:0;
    font-family: Tahoma;
    font-size: 11px;
}
.message_box,
.box_no_controls {
    background:#fff;
    -webkit-box-shadow:0 0 8px rgba(50,50,50,0.75);
    -moz-box-shadow:0 0 8px rgba(50,50,50,0.75);
    box-shadow:0 0 8px rgba(50,50,50,0.75)
}
.box_loader {
    height:50px;
    background:url('/images/progress7.gif') center no-repeat
}
.box_body {
    background-color:#fff;
    padding:16px 14px;
    overflow:auto
}
.box_title_wrap {
    background-color:#0f6e9a;
    padding:0;
    color:#fff;
    font-size:13px;
    font-weight:bold
}

.box_controls_wrap {}

.box_controls {
    padding:7px;
    height:30px;
    background-color:#f2f2f2;
    border-top:1px solid #ccc
}
.box_controls img {
    position:relative;
    left:10px;
    top:8px
}
.box_x_button,
.box_full_page_link {
    float:right;
    width:17px;
    height:17px;
    margin: 10px 10px 0 0;
    cursor:pointer;
    padding:0;
    background: url(../images/boxicon.svg) -23px -2px;
    background-size: 42px 21px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}

.box_full_page_link {
    background-position:-2px -2px;
    margin-right:0
}

.box_x_button:hover,
.box_full_page_link:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.controls_wrap {
    padding:7px 0 0 5px
}

.box_controls .button_blue,
.box_controls .button_gray {
    margin:3px 5px
}

.box_title {
    padding: 10px 15px;
    font-size:14px;
}

.box_no_controls .box_title_wrap,
.box_no_controls .box_layout .box_controls_wrap {
    display:none
}
.box_no_controls .box_body {
    border:0;
    padding:0
}
.top_result_baloon_wrap {
    padding-top:50px;
    z-index:1200;
    font-size: 11px;
    position:absolute;
    font-family: Tahoma
}
.top_result_baloon {
    color:#FFF;
    cursor:pointer;
    background:url('/images/mv_bg.png');
    background:rgba(0,0,0,0.75);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 2px 15px #888;
    -moz-box-shadow:0 2px 15px #888;
    box-shadow:0 2px 15px #888;
    padding:15px 15px;
    text-shadow:0 1px 0 #262626;
    line-height:160%
}
div.top_result_header {
    font-weight:bold;
    font-size:1.09em;
    padding-bottom:5px
}
div.top_result_baloon a {
    color:#b1daff;
    font-weight:bold
}

.is_2x .box_progress {
    background:url(/images/upload_jt_2x.gif) 50% 50% no-repeat;
    background-size:32px 8px
}

/*.is_2x .box_x_button,*/
/*.is_2x .box_full_page_link {*/
    /*background-image:url(../images/boxicon_vk_jt_2x.png);*/
    /*background-size:84px 21px*/
/*}*/

#top_left_result_baloon_wrap {
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.top_left_result_baloon_wrap {
    padding-bottom: 10px;
}

.top_left_result_baloon {
    color:#FFF;
    cursor:pointer;
    background:url('/images/mv_bg.png');
    background:rgba(0,0,0,0.75);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 2px 15px #888;
    -moz-box-shadow:0 2px 15px #888;
    box-shadow:0 2px 7px #888;
    padding:10px 15px;
    text-shadow:0 1px 0 #262626;
    margin-top:10px;
    opacity:0;
    filter: alpha(opacity=0);
}