.datepicker_container a {
    color:#2b587a;
    cursor:pointer;
    text-decoration:none
}
.datepicker_container .datepicker_control {
    background:url("/images/calendar_jt.png?2") no-repeat scroll right center #fff;
    border:1px solid #c0cad5;
    cursor:pointer;
}
.datepicker_control.disabled,
.datepicker_control.disabled input {
    background-color:#f2f2f2;
    color:#777;
    cursor:auto
}
.datepicker_container .datepicker_text {
    border:0 none;
    cursor:pointer;
    font-size:1em;
    margin:0
}
.datepicker_container .cal_div {
    position:absolute;
    z-index:200;
    padding-top: 6px;
    display: none;
}
.vk .datepicker_container .datepicker_control {
    background:url("/images/calendar1.gif?1") no-repeat scroll right center #fff;
}