.agrm_num {float:left;height:14px;margin-top:7px;overflow:hidden;width:65px;font-weight:bold;}
/* Quick Search */
#quick_search {float: right;margin: 10px 14px 0px 0px;position: relative;display: inline;width: 100px;}
#search_ext_cont {position: absolute;overflow: hidden;right: 0px;display: none;}
#search_cont {background-color: #fff;border: 1px solid #000;border-color: #2B587A #265581 #2B587A #2B587A;height: 19px;position: relative;right: 0px;}
#gsearch {font-family: tahoma, verdana, arial;border: 0px;background: white;padding: 3px 3px 3px 11px;width: 85px;font-size: 11px;color: #777;height: 13px;outline: none;right: -1px;position: absolute;border: 1px solid #000;border-color: #2B587A #265581 #2B587A #2B587A;}
#search_input, #search_menu_header {padding: 3px 0px 3px 10px;height: 13px;font-family: Tahoma, Verbana, Arial;font-size: 11px;border: none;border: 0px none #fff;float: left;overflow: hidden;outline: none;}
#search_sub_menu {position: absolute;margin-top: -1px;border: 1px solid #2B587A;border-top: none;display: none;top: 20px;left: -1px;z-index: 1000;}
#search_sub_menu div a.whole {display: block;color: #000;padding-left: 6px;text-decoration:none;}
#search_sub_menu div a.whole:hover {text-decoration: none;}
#search_sub_menu .sub_item, #search_sub_menu .sub_item_over, #search_sub_menu .sub_item_next_over {display: block;background-color: #fff;color: #000;border-top: 1px solid #E1E9EF/*#FFFFFF*/;padding: 4px 12px 4px 6px;}
#search_sub_menu .sub_item.top {border-top: 1px solid #E1E9EF;}
#search_sub_menu .sub_item.s_item_up {border-top: 1px solid #CAD4DC;}
#search_sub_menu .sub_item_next_over {border-top: 1px solid #2A5883;}
#search_sub_menu .sub_item_over {border-top: 1px solid #2A5883;background-color: #587DA1;}
#search_sub_menu .s_search_by {font-weight: bold;}
#search_sub_menu .s_search_by .s_title {color: #2B587A;}
#search_sub_menu .sub_item.s_search_by, #search_sub_menu .sub_item_next_over.s_search_by {background-color: #F7F7F7;}
.autocompletion {display:none;}
.sub_item .hint_border {border-bottom: 1px solid #DDE2E7;height: 3px;clear: left;}
.sub_item_over .hint_border {display: none;}
#search_menu_header {display: block;height: 13px;padding: 2px 4px 4px 0px;text-align: right;float: left;color: #777;}
#search_menu {position: absolute;background-color: #fff;/*margin-top: -1px;*/right: -1px;border-left: 1px solid #265581;border-right: 1px solid #265581;top: 19px;z-index: 1000;}
#search_a_menu, #search_a_menu:hover {position: relative;height: 18px;float: left;/*display: inline;*/outline: none;text-decoration: none;display: block;}
#search_a_menu:hover #search_darr, #search_a_menu.hover #search_darr {background: #fff url("/images/darr.gif") no-repeat left -22px;}
.is_2x #search_a_menu:hover #search_darr, .is_2x #search_a_menu.hover #search_darr
{
    background-image: url("/images/darr_2x.png");
    background-size: 13px 37px;
}
#search_a_menu.hover #search_menu_header {color: #000;}
#search_darr {height: 13px;background: #fff url("/images/darr.gif") no-repeat left 4px;padding: 3px 0px;display: block;float: left;width: 18px;cursor: pointer;}
#search_menu a {border-top: 1px solid #fff;border-bottom: 1px solid #fff;padding: 2px 0px 4px 0px;text-align: right;display: block;text-decoration: none;outline: none;color: #000;width: 100%;}
#search_menu a span {padding-right: 22px;}
#search_menu a.selected,
#search_menu a.selected_last,
#search_menu a.selected_last:hover,
#search_menu a.selected:hover {border-top: 1px solid #CCD5DD;border-bottom: 1px solid #CCD5DD;background-color: #E1E8ED;color: #000;cursor: default;}
div.search_shadow1,
div.search_shadow2,
div.search_shadow_left,
div.search_shadow_right1,
div.search_shadow_right2 {position: absolute;width: 100%;padding-left: 3px;margin-left: -1px;z-index: 1000;background-color: #000;height: 1px;overflow: hidden;opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);}
div.search_shadow_left, div.search_shadow_right1, div.search_shadow_right2 {height: 100%;width: 1px;padding: 0px;margin: 0px;right: -2px;padding-top: 20px;top: -20px;opacity: 0.1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);}
div.search_shadow_left {right: auto;padding: 0px;top: auto;left: -2px;opacity: 0.05;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=5);}
div.search_shadow_right2 {right: -3px;opacity: 0.05;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=5);}
div.search_shadow_right {right: -3px;top: auto;opacity: 0.05;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=5);}
div.search_shadow2 {margin-top: 1px;opacity: 0.05;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=5);}
#search_menu a.last {border-bottom: 1px solid #265581;}
#search_menu a.selected_last, #search_menu a.selected_last:hover {border-bottom: 1px solid #839EB7;}
#search_menu a.hover {border-top: 1px solid #265581;border-bottom: 1px solid #265581;background-color: #587DA1;color: #fff;}
#search_main_cont {position: relative;}
#search_button {float: right;display: block;text-align: center;height: 14px;padding: 2px 0px;border-top: 1px solid #6E97C4;background-color: #4B769F;cursor: pointer;color: #FFF;outline: none;font-weight: bold;text-decoration: none;text-transform: capitalize;}
#search_button:hover {background-color: #678BAE;}
/* ************ */
#quick_search .s_item {height: 27px;cursor: pointer;opacity: 0.96;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=96);}
#quick_search .s_item .s_search_icon {float:right;height:11px;width:11px;overflow:hidden;margin-top:8px;background: url('/images/search_small.gif');background-position-y: 0px;}
#quick_search .sub_item_over .s_search_icon {background-position: 0px 11px;}
#quick_search .p_item, .p_item_right, .p_item_over, .p_item_right_over{height: 39px;cursor: pointer;width: 227px;background-color:#fff;border:0px;border-top: 1px solid #CCD3DA;border-right: 1px solid #CCD3DA;}
#quick_search .p_item_right, .p_item_right_over{width: 228px;border-right: 0;}
#quick_search .p_item_over, .p_item_right_over{background-color: #587DA1;border-color: #2A5883;}
#quick_search .p_item_over .s_wide_title,
.p_item_right_over .s_wide_title,
#quick_search .p_item_over .s_wide_title div,
#quick_search .p_item_right_over .s_wide_title div {color: #FFF;}
#quick_search .recent_fr {padding: 4px 6px;background-color: #E1E8ED;border-top: 1px solid #2B587A;width: 444px;filter: alpha(opacity=96);opacity: 0.96;}
#quick_search .recent_table {background-color: #FFF;width: 456px;filter: alpha(opacity=96);opacity: 0.96;padding: 0px;margin: 0px;}
#quick_search .recent_table tr, .recent_table td, .recent_table div{padding: 0px;margin: 0px;}
#quick_search div.s_photo {width: 25px;height: 25px;overflow: hidden;float: left;margin: 1px 10px 0px 0px;line-height: 22px;}
#quick_search div.s_photo img {width: 25px;vertical-align: middle;}
#quick_search div.s_title {float: left;margin-top: 7px;cursor: pointer;height: 14px;width: 50%;overflow: hidden;}
#quick_search div.s_wide_title{float: left;margin: 0px;cursor: pointer;height: 27px;width: 70%;overflow: hidden;}
#quick_search .s_down_text {display: block;float: right;margin-top: 6px;cursor: pointer;outline: none;}
#quick_search .s_down_text:hover {text-decoration: underline;}
#quick_search div.s_wide_title div,
#quick_search .s_down_text {display: block;color: #999;font-size: 10px;text-decoration:none;}
#quick_search div.s_title span,
#quick_search div.s_wide_title span {background-color: #DAE2E8;text-decoration:none;}
#search_sub_menu div.sub_item_over div.s_title span,
#search_sub_menu div.sub_item_over div.s_wide_title span {background-color: #2A5883;text-decoration:none;}
#search_sub_menu a.sub_item:hover,
#search_sub_menu a.sub_item_over:hover,
#search_sub_menu a.sub_item_next_over:hover {text-decoration: none;}
#search_sub_menu .sub_item_over div.s_title,
#search_sub_menu .sub_item_over div.s_wide_title,
#search_sub_menu .sub_item_over a.s_right_text,
#search_sub_menu .sub_item_over a.s_down_text,
#search_sub_menu .p_item_over a.s_down_text,
#search_sub_menu .sub_item_over .s_label,
#search_sub_menu .sub_item_over div.s_wide_title div{color: #FFFFFF;text-decoration:none;}
#quick_search a.s_right_text {display: block;float: right;margin-top: 6px;cursor: pointer;outline: none;}
#quick_search .s_down_text {margin: 0px;cursor: pointer;overflow: hidden;color: #2B587A;display: block;ffloat: right;wfidth: 81.5%;float: left;}
#quick_search .s_label {margin-top: 6px;outline: none;color: #999999;}