.radiobtn_container {
    cursor:pointer;
    font-family: Tahoma;
    font-size: 11px
}
.radiobtn_container table {
    width:100%;
    z-index:0;
    margin:5px 0 5px 0
}
.radiobtn_container table td {
    vertical-align:middle
}
.radiobtn_container table td.radiobtn {
    width:20px;
    padding:1px 0 0
}
.radiobtn_container input {
    display:none
}
.radiobtn_container table td .radiobtn_on,
.radiobtn_container table td .radiobtn_off,
.radiobtn_container table td .radiobtn_on_over,
.radiobtn_container table td .radiobtn_off_over {
    height:14px;
    width:15px;
    overflow:hidden
}
.radiobtn_container table td .radiobtn_on div,
.radiobtn_container table td .radiobtn_off div,
.radiobtn_container table td .radiobtn_on_over div,
.radiobtn_container table td .radiobtn_off_over div {
    width:14px;
    height:56px;
    background:transparent url(/images/radio_jt.png?1) 0 0 no-repeat;
    background-size:14px 56px;
    behavior:url(/js/iepngfix.htc)
}

.vk .radiobtn_container table td .radiobtn_on div,
.vk .radiobtn_container table td .radiobtn_off div,
.vk .radiobtn_container table td .radiobtn_on_over div,
.vk .radiobtn_container table td .radiobtn_off_over div {
    background:transparent url(/images/radio.gif) 0 0 no-repeat;
    background-size:14px 56px;
    behavior:url(/js/iepngfix.htc);
}

.is_2x .radiobtn_container table td .radiobtn_on div,
.is_2x .radiobtn_container table td .radiobtn_off div,
.is_2x .radiobtn_container table td .radiobtn_on_over div,
.is_2x .radiobtn_container table td .radiobtn_off_over div {
    background-image:url(/images/radio_jt_2x.png?1);
}

.is_2x.vk .radiobtn_container table td .radiobtn_on div,
.is_2x.vk .radiobtn_container table td .radiobtn_off div,
.is_2x.vk .radiobtn_container table td .radiobtn_on_over div,
.is_2x.vk .radiobtn_container table td .radiobtn_off_over div {
    background-image:url(/images/radio_2x.gif);
}
.radiobtn_container table td .radiobtn_on div {
    margin-top:-14px
}
.radiobtn_container table td .radiobtn_off_over div {
    margin-top:-28px
}
.radiobtn_container table td .radiobtn_on_over div {
    margin-top:-42px
}
