.slider .disabled {
    position:absolute;
    background:url("/images/tpx3.png");
    z-index:99;
    overflow:hidden
}
.slider .slider-area {
    margin:0 45px;
    border-radius:3px;
    position:relative
}
.slider .slider-line {
    background:url("/images/slider-line.png") 0 50% repeat-x;
    height:20px
}
.slider .slider-points {
    position:relative;
    cursor:pointer
}
.slider .slider-points span {
    cursor:pointer;
    display:inline-block;
    background:url("/images/slider-point.png") 0 50% no-repeat;
    width:7px;
    position:absolute
}
.slider .slider-cursor {
    width:86px;
    height:36px;
    background:url("/images/slider-cursor-point.png") 50% 0 no-repeat;
    position:absolute;
    cursor:e-resize
}
.slider .slider-value {
    margin-top:10px;
    background:#d4d4d4 url('/images/slider-cursor-point-bottom.png?1') 50% 0 no-repeat;
    height:26px;
    border-radius:3px;
    text-align:center;
    line-height:26px;
    color:#666;
    text-shadow:0 2px 1px rgba(255,255,255,0.7)
}
.slider .disabled-area {
    background:#f4f4f4;
    width:300px;
    margin:0 auto;
    padding:8px 40px;
    text-align:center;
    border:solid 1px #d4d4d4;
    color:#6e0909;
    -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.16);
    -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.16);
    box-shadow:3px 3px 2px rgba(0,0,0,0.16)
}
